/* <=1200px时 */
@media (min-width:1280px) {
    .listcar {  
          .body-listcar-item{
            min-height: 212px !important;
          } 
    }
}
/* <=1200px时 */
@media (max-width:1280px) {
    .listcar {
        .listcar-item{
            width: 50% !important;
          }   
          .body-listcar-item{
            width: 32.5% !important;
            height: 22vw !important;
          } 
    }
    .home-banner{
        padding: 40px 0px 40px !important;
    }
}

/* <=1080px时 */
@media (max-width:1080px) {
        .joinnone{display: none !important;}
        .joinflex{display: flex !important;}
}
/* <=960px时 */
@media (max-width:960px) {
        
}

/* <=800px时 */
@media (max-width: 845px) {
    .container {
        padding: 0 20px !important;
      }
    .listcar {
        .listcar-item{
            min-width: 280px !important;
            height: 42vw !important;
            width: 100% !important;
          }   
          .body-listcar-item{
            height: 40vw !important;
            width: 49.4% !important;
          } 
    }
    .nonetitle{
        display: none !important;
    }
    .blacktitle{
        display: block !important;
    }
    .containergrap{
        gap: 15px !important;
    }
    .home-banner{
        padding: 20px 0px 20px !important;
    }
   }

/* <=700px时 */
@media (max-width:700px) {
    
}

