body {
    background-color: greenyellow;
}

/* <=1200px时 */
@media (max-width:1200px) {
    body {
        background-color: orange;
    }
}

/* <=992px时 */
@media (max-width:992px) {
    body {
        background-color: skyblue;
    }
}

/* <=800px时 */
@media (max-width:800px) {
    body {
        background-color: pink;
    }
}

/* <=700px时 */
@media (max-width:700px) {
    body {
        background-color: rgb(66, 8, 212);
    }
}

